* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header-container {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    ;
}

/* nav styles starts  */
.nav-container {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;

}

.logo-container h {
    color: #0B0223;
}

.logo-container .primari-color {
    color: Linear;
}

.logo-container img {
    width: 76.041px;
    height: 35px;
    margin-right: 10px;
}

.menu-item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-item a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    align-items: center;
}

.menu-item .btn-nav {
    border: none;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
}

.menu-item .font-aw {
    color: #F61C0D;
    ;
}

/* nav styles ends  */

/* banner styles starts here */

.banner-container {
    max-width: 1400px;
    margin: 50px auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-txt {

    width: 50%;
    text-align: start;
    align-items: center;
    text-align: start;

}

.banner-txt .font-i {
    color: #FF42A5;
}

.banner-txt .banner-h {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;

}

.banner-txt .banner-g {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: start;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-txt .banner-p {
    color: #534C64;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.btn-banner {
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    overflow: hidden;
}

.btn-banners {
    padding: 15px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    overflow: hidden;
}

.banner-txt .btn {
    display: flex;
    justify-content: flex-start;
    gap: 5px;

}

.banner-txt h3,
p {
    width: 100%;
}

.banner-img {

    width: 50%;
}

.banner-img img {
    width: 100%;
}

/* banner purpose starts */

.banner-purpose-con {
    max-width: 1400px;
    margin: 50px auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purpose-img {
    width: 50%;
}

.purpose-img img {
    width: 100%;
}

.purpose-txt {
    width: 50%;
    text-align: end;
}

.purpose-txt h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purpose-p {
    text-align: right;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.purpose-btn {
    align-items: flex-end;
    justify-content: right;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

/* purpose banner ends */

/* online games starts */
.online-games {
    max-width: 1400px;
    margin: 50px auto 0;
    text-align: center;



}

.shadow {
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.shadows {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}


.game-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;


}

.online-games img {
    width: 98%;
}

.imgo,
.imgt,
.imgth,
.imgf {}

.imgo,
.imgt,
.imgth,
.imgf:hover {}


/* online games ends */

/* aniversery starts */
.aniversery {
    max-width: 1400px;
    margin: 50px auto 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shadowx {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aniver-txt,
.aniver-img {
    width: 50%;
}

.aniver-img img {
    width: 100%;
}

.img-relate {
    position: relative;
    top: 0;
    left: 0;
}

.big {
    position: relative;
    top: 0;
    left: 0;
}

.small {
    position: absolute;
    top: 500px;
    right: 480px;

}



/* aniversery end */
/* list of games  */






/* list of games end*/
.list-games {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.games-container {
    max-width: 1400px;
    margin: 50px auto 50px;
}

.games-container .first-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.games-container .second-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
}

.games-container .first-game .one,
.two {
    display: flex;
    align-items: center;
    gap: 5px;
}
.one:hover{
    border: 1px solid #FF42A5;
    border-radius: 20px;
    color: #F61C0D;
}
.two:hover{
    border: 1px solid #FF42A5;
    border-radius: 20px;
    color: #F61C0D;
}




/* footer starts */
.footer {
    width: 100%;
    height: 400px;
    background-color: #0B0223;
    text-align: center;
    align-items: center;
    padding-top: 100px;
}

.footers {
    max-width: 1400px;
    margin: 0 auto 0;
    color: #fff;
    width: 100%;
}

.footer-container {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fff;
    padding-top: 50px;
}

.footer-icon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);


}

.footer-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    font-size: x-small;
    text-align: center;
    align-items: center;
    color: #fff;
    padding-top: 50px;
    max-width: 1400px;
}

.last {
    font-size: x-small;
    padding-top: 30px;
}

.copyright {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    font-size: x-small;
}







/* responsive for mobile */
@media screen and (max-width: 576px) {

    .nav-container,
    .banner-purpose-con {
        flex-direction: column;
    }

    .menu-item {
        width: 100%;
        flex-direction: column;

    }

    .menu-item a {
        margin-bottom: 10px;

    }

    .banner-container {
        flex-direction: column;
    }

    .banner-img {
        width: 100%;
    }

    .banner-txt .banner-h {
        font-size: 30px;
    }

    .banner-txt .banner-g {
        font-size: 30px;
    }

    .btn-banner {
        padding: 5px 9px;
    }


    .btn-banners {
        padding: 5px 5px;
    }

    .purpose-txt,
    .purpose-p {
        width: 100%;
        text-align: center;

    }

    .purpose-img {
        width: 100%;
    }

    .game-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .aniversery {
        flex-direction: column;
        margin: 50px auto 50px;
    }

    .aniver-txt {
        text-align: center;
        align-items: center;
    }

    .shadows,
    .shadowx {
        font-size: 100%;
    }


    .footer-item {
        grid-template-columns: repeat(3, 1fr);

    }

    .footer-items {
        grid-template-columns: repeat(2, 1fr);

    }

    ..copyright {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .purpose-txt h3 {
        text-align: center;
    }

    .small {
        position: absolute;
        top: 120px;
        right: 120px;

    }

    .footer-icon {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;


    }


    .games-container .first-game {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    
    .games-container .second-game {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5px;
        width: 100%;
    }


}

/* responsive for mobile end */


/* responsive for tablet starts*/

@media screen and (min-width: 576px) and (max-width: 768px) {

    .header-container,
    {
    text-align: center;
}

.nav-container,
.banner-purpose-con {
    flex-direction: column;


}

.logo-container img h3 {
    width: 100%;
    flex-direction: column;
}

.menu-item {
    width: 100%;
    flex-direction: column;

}

.menu-item a {
    margin-bottom: 10px;

}

.banner-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn-banner {
    padding: 5px 9px;


    .btn-banners {
        padding: 5px 5px;
    }


}

.banner-img,
.purpose-img {
    width: 100%;
}

.purpose-txt,
.purpose-p {
    width: 100%;
    text-align: center;

}

.game-list {
    grid-template-columns: repeat(2, 1fr);
}

.aniversery {
    flex-direction: column;
    text-align: center;
}

.aniver-img img {
    width: 100%;
}

.purpose-txt h3 {
    text-align: center;
}

.small {
    position: absolute;
    top: 270px;
    right: 270px;

}




}